.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
}

/* appbar */

#barLogo {
  width: 25%;
}

#hpCover {
  filter: brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(500%)
    contrast(0.8) blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

#hpPhone {
  height: 125%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.phoneContainer {
  text-align: center;
  color: white;
}

.centeredOnPhone {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.leftLoginBtn {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #d54542;
}

.dayTitle {
  font-size: 100px;
  font-family: "futura-pt-book";
}
.phoneTitle {
  font-size: 40px;
}

.phoneSubTitle {
  font-size: 60px;
}

/* appDrawer */

.drawerContainer {
  background-color: #fff;
}

.centerButtons {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: #e32c28;
}

#drawerLogo {
  height: 15%;
  margin-top: 30%;
}

/* login */

#logInBg {
  filter: brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(500%)
    contrast(0.8) blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#logInPhone {
  height: 125%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
}

.textForm {
  position: relative;
}

.textFormSignIn {
  position: relative;
  color: white;
  padding: 20px;
}

/* profile */

#profileCoverDiv {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#profileCover {
  width: 100%;
  margin: 0;
  padding: 0;
}

.profileDetails {
  font-size: 20px;
  margin-top: 10px;
}

.dateOfBirthProfile {
  font-size: 20px;
}

/* people */

.dateOfBirth {
  font-size: 20px;
  text-align: start;
}

.peopleTitle {
  font-size: 70px;
  font-family: "futura-pt-book";
  text-align: left;
  color: #d54542;
  margin-top: 5%;
}

.peopleButtonsContainer {
  text-align: left;
  margin: 20px;
}

.peopleButtons {
  text-align: left;
  color: #d54542;
}

.personProfile {
  display: flex;
}

@font-face {
  font-family: "futura-pt-book";
  src: local("futura-pt-book"),
    url(/fonts/futura-pt-book.otf) format("opentype");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
